name: Verify

permissions:
  contents: read

on:
  push:
    branches:
    - main
    - release
  pull_request:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Setup Maven
      uses: s4u/setup-maven-action@v1.19.0
      with:
        java-version: 21

    - name: Verify
      run: mvn --batch-mode verify
